<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/stylesRegister.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/e21f0f6b55.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo-buscador">
                <div class="logo">
                    <a href="/" class="main-header_home-link">
                        <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                    </a>
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">
                        <input type="text" placeholder="Buscar productos, marcas y más">
                    </div>
                    <div class="submit">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="form-p">
                <p>
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <div class="titleFormulario">
            <h2 class="titulo-main">Ingresa a tu cuenta</h2>
        </div>
        <form action="/" class="formRegister" id="" method="get">
            <!-- Grupo: Nombre de Usuario -->
            <div class="nombreUsuario" id="">
                <label for="nombreUsuario" class="nameUsuarioLabel"></label>
                <div class="nameUserInput-i">
                    <input type="text" class="nameUserInput" name="nombreUsuario" id="nombreUsuario"
                        placeholder="Nombre de Usuario">
                    <i class="fa-solid fa-circle-xmark icon"></i>
                </div>
                <p class="error-nameUser">El nombre de usuario tiene que ser de 2 a 16 carácteres.</p>
            </div>
            <!-- Grupo: Contraseña -->
            <div class="contraseña" id="">
                <label for="password" class="contraLabel"></label>
                <div class="contraInput-i">
                    <input type="password" class="contraInput" name="password" id="password" placeholder="Contraseña">
                    <i class="fa-solid fa-circle-xmark icon"></i>
                </div>
                <p class="error-password">La contraseña tiene que ser de 8 a 16 carácteres, debe incluir minimamente
                    mayúscula, minúscula y número.</p>
            </div>
            <!-- Grupo: Botones de registro y reseteo -->
            <div class="botones">
                <div class="boton">
                    <button type="submit" class="boton-register">Registrarse</button>
                </div>
            </div>
        </form>
    </main>
    <footer class="main-footer">
        <div class="pie-footer">
        <div class="div-pagina">
            <div class="pie-pagina">
                <i class="fa-solid fa-credit-card iconFooter"></i>
                <div class="pie-h2">
                    <h2>Pagá con tarjeta o en efectivo</h2>
                </div>
                <div class="pie-p">
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p><br>
                </div>
            </div>
        </div>
        <div class="div-pagina">
            <div class="pie-pagina">
                <i class="fa-solid fa-gift iconFooter"></i>
                <div class="pie-h2">
                    <h2>Envío gratis desde $ 2.500</h2>
                </div>
                <div class="pie-p">
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p><br>
                </div>
            </div>
        </div>
        <div class="div-pagina">
            <div class="pie-pagina">
                <i class="fa-solid fa-user-shield iconFooter"></i>
                <div class="pie-h2">
                    <h2>Seguridad, de principio a fin</h2>
                </div>
                <div class="pie-p">
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p><br>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <div class="sub-footer">
        <div class="container">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </div>
</body>
</html>